<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class="conatiner">
        <div class="parent">
            <h1 class="display-1 text-center text-danger">
                    Cricket Bats
            </h1>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                <div class="col">
                        <div class="card shadow">
                                <img src="https://4.imimg.com/data4/LT/CV/IMOB-6793230/image-500x500.jpeg" width="200px" class="mx-auto" alt="">
                                <div class="card-body">
                                        <h2 class="text-warning">2022 KOOKABURRA KAHUNA PRO CRICKET BAT</h2>
                                </div>
                                <button class="btn btn-primary w-50 mx-auto" data-bs-toggle="modal" data-bs-target="#dialog">Speciafications</button>
                                <div class="modal" id="dialog">
                                        <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">2022 KOOKABURRA KAHUNA PRO CRICKET BAT</div>
                                                    <div class="modal-body">
                                                            <img src="https://www.allroundercricket.com/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/2/a/2a21130c-kahuna-pro-front.jpg" width="200px" alt="">
                                                            <p class="lead">
                                                                    Price: RS. 44990<br>
                                                                    Bat-Weight: 1 Kg<br>
                                                                    Handle Type: Short Handle<br>
                                                            </p>
                                                    </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                        <div class="col">
                                <div class="card shadow">
                                        <img src="https://5.imimg.com/data5/IX/XE/MY-14509663/gm-cricket-bat-500x500.jpg" class="mx-auto" width="200px" height="300px" alt="">
                                        <div class="card-body">
                                                <h2 class="text-warning">GM Aura F2 Classic Plus</h2>
                                        </div>
                                        <button class="btn btn-primary w-50 mx-auto" data-bs-toggle="modal" data-bs-target="#dialog-1">Speciafications</button>
                                        <div class="modal" id="dialog-1">
                                                <div class="modal-dialog">
                                                        <div class="modal-content">
                                                                <div class="modal-header">GM Aura F2 Classic Plus</div>
                                                                <div class="modal-body">
                                                                        <img src="https://www.khelmart.com/Cricket/zoomer_Image/GM_EN_000081_large.jpg" width="200px" alt="">
                                                                        <p class="lead">
                                                                                Price: RS. 22388<br>
                                                                                Bat-Weight: 1Kg<br>
                                                                                Handle Typle: Short-Handle<br>
                                                                        </p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col">
                                <div class="card shadow">
                                        <img src="https://26b5c92bej542nbc9b3nbw5o-wpengine.netdna-ssl.com/wp-content/uploads/2019/03/mrf-genius-vk-1000x1063.jpg" width="200px" height="260px" class="mx-auto" alt="">
                                <div class="card-body">
                                        <h2 class="text-warning">MRF Genius Chase Master Cricket Bat </h2>
                                </div>
                                <button class="btn btn-primary w-50 mx-auto" data-bs-toggle="modal" data-bs-target="#dialog-2">Speciafications</button>
                                <div class="modal" id="dialog-2">
                                        <div class="modal-dialog">
                                                <div class="modal-content">
                                                        <div class="modal-header">MRF Genius Chase Master Cricket Bat </div>
                                                        <div class="modal-body">
                                                                <img src="https://www.sportsuncle.com/image/cache/catalog/images/mrf/chase-master-bat-1200x1200.webp" width="200px" alt="">
                                                                <p class="lead">
                                                                        Price:Rs.30000<br>
                                                                        Bat-Weight: 1kg<br>
                                                                        Handle Type: Short-Handle<br>
                                                                </p>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                </div>
                        </div>
                </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>
</html>